language: python
arch:
  - amd64
  - ppc64le
python:
  - "2.7"
  - "3.4"
  - "3.5"
# comand to install requirements
install: pip install -r requirements.txt -r requirements-test.txt
# command to run tests
script: python setup.py test
